@media only screen and (max-width: 1199px) {
  .Kryg {
    visibility: hidden;
  }

  .masanger {
    visibility: hidden;
  }

  .as {
    font-size: 35px;
  }
}
@media only screen and (max-width: 991px) {
  ul {
    margin-left: -500px;
  }

  .text {
    font-size: 25px;
  }
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  position: relative;
}

a {
  color: #121723;
}
a:hover {
  color: #121723;
}

li {
  padding-left: 100px;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.nav-link:nth-child(1):focus {
  color: #00bff2;
}

.block2 {
  width: 100%;
  height: 900px;
  position: relative;
}

.stands {
  font-family: Myriad Pro;
  font-size: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
  font-weight: bold;
}

.Kryg {
  width: 50px;
  height: 50px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  right: 690px;
  top: 190px;
}

.text {
  position: absolute;
  width: 1000px;
  font-size: 39px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 370px;
}

.but {
  border-color: #00bff2;
  color: #00bff2;
  border-radius: 0;
  width: 285px;
  height: 70px;
  font-size: 27px;
}
.but:hover {
  background-color: #00bff2;
  border-color: #00bff2;
}

.bat {
  color: #fefefe;
  border-radius: 0;
  width: 285px;
  height: 70px;
  font-size: 27px;
}
.bat:hover {
  background-color: #f0c01b;
}

.form {
  width: 620px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 580px;
  left: 50%;
  transform: translateX(-50%);
}

.circle1 {
  width: 50px;
  height: 50px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  top: 530px;
  right: 100px;
}
.circle1:hover {
  cursor: pointer;
}

.circle2 {
  width: 50px;
  height: 50px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  top: 430px;
  right: 100px;
}
.circle2:hover {
  cursor: pointer;
}

.circle3 {
  width: 50px;
  height: 50px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  top: 330px;
  right: 100px;
}
.circle3:hover {
  cursor: pointer;
}

.block3 {
  background-color: #293140;
  height: 1030px;
  width: 100%;
  width: 90%;
  position: relative;
}

.row {
  width: 100%;
}

.Easy {
  font-size: 155px;
  color: #fefefe;
  position: absolute;
  padding-left: 200px;
  top: 100px;
  font-weight: bold;
}

.kryg2 {
  width: 50px;
  height: 50px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  left: 520px;
  top: 150px;
}

.as {
  font-size: 46px;
  color: #fefefe;
  position: absolute;
  left: 200px;
  top: 320px;
}

.big-text {
  color: #abadb1;
  font-size: 20px;
  width: 485px;
  position: absolute;
  left: 150px;
  top: 160px;
}

.link {
  color: #00bff2;
  font-size: 20px;
  position: absolute;
  left: 150px;
  top: 350px;
}

.square1 {
  background-color: #00bff2;
  width: 85px;
  height: 85px;
  font-size: 40px;
  color: #fefefe;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 95px;
  left: 236px;
}

.square2 {
  background-color: #00bff2;
  width: 85px;
  height: 85px;
  font-size: 40px;
  color: #fefefe;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 95px;
  left: 100px;
}

.square3 {
  background-color: #00bff2;
  width: 85px;
  height: 85px;
  font-size: 40px;
  color: #fefefe;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 95px;
  left: -60px;
}

.contact {
  font-size: 36px;
  color: #fefefe;
  top: 110px;
  left: 340px;
  position: absolute;
}

.compare {
  font-size: 36px;
  color: #fefefe;
  top: 110px;
  left: 200px;
  position: absolute;
}

.select {
  font-size: 36px;
  color: #fefefe;
  top: 110px;
  left: 40px;
  position: absolute;
}

.small-text1 {
  color: #abadb1;
  font-size: 18px;
  width: 203px;
  position: absolute;
  left: 236px;
  top: 210px;
}

.small-text2 {
  color: #abadb1;
  font-size: 18px;
  width: 228px;
  position: absolute;
  left: 100px;
  top: 210px;
}

.small-text3 {
  color: #abadb1;
  font-size: 18px;
  width: 224px;
  position: absolute;
  left: -60px;
  top: 210px;
}

.block-with {
  width: 100%;
  height: 150px;
}

.block4 {
  background-color: #293140;
  height: 630px;
  position: relative;
}

.text-menu {
  color: #fefefe;
  font-size: 47px;
  width: 410px;
  position: absolute;
  left: 190px;
  top: 240px;
}

.rectangle1 {
  width: 15px;
  height: 135px;
  background-color: #00bff2;
  position: absolute;
  left: 200px;
  top: 240px;
}

.name1 {
  font-size: 33px;
  color: #fefefe;
  position: absolute;
  left: 225px;
  top: 240px;
}

.descripteon {
  color: #abadb1;
  font-size: 26px;
  width: 200px;
  position: absolute;
  left: 225px;
  line-height: 30px;
  top: 300px;
}

.number1 {
  font-size: 31px;
  color: #fefefe;
  position: absolute;
  left: 225px;
  top: 390px;
}

.communication {
  position: absolute;
  left: 225px;
  top: 450px;
}

.communication-items2 {
  padding-left: 20px;
}

.rectangle2 {
  width: 15px;
  height: 135px;
  background-color: #00bff2;
  position: absolute;
  left: 200px;
  top: 240px;
}

.name2 {
  font-size: 33px;
  color: #fefefe;
  position: absolute;
  left: 225px;
  top: 240px;
}

.descripteon2 {
  color: #abadb1;
  font-size: 26px;
  width: 230px;
  position: absolute;
  left: 225px;
  line-height: 30px;
  top: 300px;
}

.fon {
  width: 350px;
  height: 450px;
  background-color: #fefefe;
  position: absolute;
  top: 90px;
  left: 70px;
}

.rectangle3 {
  width: 15px;
  height: 135px;
  background-color: #00bff2;
  position: absolute;
  left: 120px;
  top: 240px;
}

.name3 {
  font-size: 33px;
  color: #141925;
  position: absolute;
  left: 145px;
  top: 240px;
}

.descripteon3 {
  color: #abadb1;
  font-size: 26px;
  width: 210px;
  position: absolute;
  left: 145px;
  line-height: 30px;
  top: 300px;
}

.number2 {
  font-size: 31px;
  color: #141925;
  position: absolute;
  left: 145px;
  top: 390px;
}

.communication2 {
  position: absolute;
  left: 145px;
  top: 450px;
}

.block5 {
  height: 1030px;
  position: relative;
}

.stars {
  font-size: 33px;
  color: #2c2c4b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1295px;
  height: 40px;
  top: 90px;
}

.stars2 {
  font-size: 33px;
  color: #2c2c4b;
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  width: 1295px;
  height: 40px;
  top: 90px;
}

.stars-img {
  width: 150px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 450px;
  top: 90px;
}

.tipo-slide {
  position: absolute;
  background-color: #293140;
  border-radius: 15px;
  width: 80%;
  height: 670px;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
}

.mean {
  background-image: url(../css-scss/mean.jpg);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border-size: cover;
  position: absolute;
  top: 170px;
  left: 260px;
}

.experianse {
  position: absolute;
  font-size: 32px;
  color: #00bff2;
  top: 105px;
  left: 530px;
}

.procent {
  font-size: 47px;
  color: #fefefe;
  width: 915px;
  position: absolute;
  top: 190px;
  left: 530px;
}

.rectangle5 {
  width: 6px;
  height: 60px;
  background-color: #00bff2;
  position: absolute;
  left: 530px;
  top: 500px;
}

.sanz {
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  top: 502px;
  left: 550px;
}

.ceo {
  position: absolute;
  color: #94979c;
  left: 550px;
  top: 530px;
  font-size: 20px;
}

.arrow {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.arrow:hover {
  cursor: pointer;
}

.block6 {
  position: relative;
  height: 2000px;
}
.block6 .cal {
  margin-bottom: 300PX;
}

.clock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 230px;
}

.fast {
  position: absolute;
  font-size: 93px;
  left: 50%;
  transform: translateX(-50%);
  top: 280px;
  font-weight: bold;
}

.text-clock {
  font-size: 20px;
  text-align: center;
  width: 360px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.two-part {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  top: 550px;
  width: 390px;
}

.kryg5 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 310px;
  left: 390px;
}

.items-6 {
  width: 625px;
  height: 530px;
  background-color: #2c2c4b;
  top: 150px;
}

.service {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 100px;
  width: 580px;
  text-align: center;
}

.planet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.World {
  position: absolute;
  font-size: 93px;
  color: #fefefe;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  top: 100px;
}

.kryg6 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 540px;
}

.last {
  position: absolute;
  text-align: center;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fefefe;
  font-weight: bold;
  width: 390px;
  top: 230px;
}

.International {
  position: absolute;
  text-align: center;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fefefe;
  font-weight: bold;
  top: 350px;
}

.kryg7 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 310px;
  left: 430px;
}

.text-lockal {
  font-size: 20px;
  text-align: center;
  width: 380px;
  position: absolute;
  top: 490px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.block6 .col-md-4 {
  height: 500px;
}

.speed {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.efficient {
  position: absolute;
  font-size: 93px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  top: 100px;
}

.kryg8 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 490px;
}

.saving {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  top: 230px;
  width: 350px;
}

.items-7 {
  width: 625px;
  height: 530px;
  background-color: #2c2c4b;
  top: -70px;
}

.free {
  position: absolute;
  font-size: 93px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  color: #fefefe;
  top: 100px;
}

.kryg9 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 400px;
}

.five {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  width: 380px;
  color: #fefefe;
  top: 230px;
}

.kryg10 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 450px;
}

.city {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  top: 230px;
  width: 360px;
}

.pen {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.items-4 {
  top: -180px;
}

.kryg0 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 460px;
}

.designers {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  top: 250px;
  width: 370px;
}

.items-8 {
  width: 625px;
  height: 530px;
  background-color: #2c2c4b;
  top: -260px;
}

.circle6 {
  width: 25px;
  height: 25px;
  background-color: #00bff2;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  left: 590px;
}

.clients {
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #fefefe;
  width: 370px;
  top: 240px;
}

.block7 {
  width: 100%;
  height: 930px;
  position: relative;
}

.london {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  width: 730px;
  height: 63px;
  position: absolute;
  top: 265px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fefefe;
}
.london:hover {
  cursor: pointer;
}

.very {
  font-size: 28px;
  color: #fefefe;
  position: absolute;
  width: 958px;
  top: 390px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.bcity {
  background-color: #00bff2;
  width: 272px;
  height: 77px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
}
.bcity:hover {
  background-color: #00bff2;
}
.bcity:focus {
  background-color: #00bff2;
}

.block8 {
  height: 1700px;
  width: 100%;
  position: relative;
}

.application {
  position: absolute;
  font-size: 43px;
  left: 200px;
  top: 345px;
}

.ios {
  position: relative;
  height: 250px;
  width: 260px;
  background-color: #00bff2;
  left: 135px;
  top: 425px;
}
.ios:hover {
  cursor: pointer;
}

.apple {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.ios-text {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #fefefe;
  font-size: 37px;
}

.arow {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.zip {
  width: 185px;
  height: 175px;
  position: relative;
  top: 205px;
  left: 405px;
  background-color: #1f2634;
}
.zip:hover {
  cursor: pointer;
}

.cat {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
}

.walets {
  color: #a9aaae;
  position: absolute;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  top: 100px;
}

.zip2 {
  width: 185px;
  height: 175px;
  position: relative;
  top: 30px;
  left: 600px;
  background-color: #1f2634;
}
.zip2:hover {
  cursor: pointer;
}

.zip3 {
  width: 185px;
  height: 175px;
  position: relative;
  top: -145px;
  left: 795px;
  background-color: #1f2634;
}
.zip3:hover {
  cursor: pointer;
}

.work {
  position: absolute;
  font-size: 23px;
  color: #00bff2;
  left: 430px;
}

.documents {
  font-size: 43px;
  position: absolute;
  top: 900px;
  left: 105px;
}

.text-documents {
  color: #a7a8ab;
  font-size: 20px;
  position: absolute;
  width: 375px;
  top: 980px;
  left: 105px;
}

.corner1 {
  width: 65px;
  height: 93px;
  background-color: #1e2533;
  position: absolute;
  left: 670px;
  top: 950px;
}

.paper1 {
  font-size: 22px;
  position: absolute;
  top: 940px;
  left: 770px;
}

.paper-text1 {
  color: #a7a8ab;
  font-size: 20px;
  position: absolute;
  width: 270px;
  top: 980px;
  left: 770px;
}

.corner2 {
  width: 65px;
  height: 93px;
  background-color: #1e2533;
  position: absolute;
  left: 670px;
  top: 1150px;
}

.paper2 {
  font-size: 22px;
  position: absolute;
  top: 1140px;
  left: 770px;
}

.paper-text2 {
  color: #a7a8ab;
  font-size: 20px;
  position: absolute;
  width: 270px;
  top: 1180px;
  left: 770px;
}

.published {
  position: absolute;
  font-size: 43px;
  top: 345px;
  right: 245px;
}

.month {
  width: 760px;
  height: 1050px;
  position: absolute;
  background-color: #1e2533;
  top: 435px;
  right: 50px;
}

.june1 {
  color: #a7a8ab;
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 180px;
}

.june-text1 {
  font-size: 30px;
  color: #fefefe;
  position: absolute;
  top: 190px;
  left: 180px;
  width: 450px;
}

.june2 {
  color: #a7a8ab;
  font-size: 30px;
  position: absolute;
  top: 525px;
  left: 180px;
}

.june-text2 {
  font-size: 30px;
  color: #fefefe;
  position: absolute;
  top: 565px;
  left: 180px;
  width: 490px;
}

.june-small {
  color: #a7a8ab;
  position: absolute;
  font-size: 22px;
  width: 450px;
  top: 665px;
  left: 180px;
}

.june3 {
  color: #a7a8ab;
  font-size: 30px;
  position: absolute;
  top: 900px;
  left: 180px;
}

.june-text3 {
  font-size: 30px;
  color: #fefefe;
  position: absolute;
  top: 940px;
  left: 180px;
  width: 385px;
}

.block9 {
  position: relative;
  width: 100%;
  height: 140px;
  background-color: #f6f8fc;
}

.logo-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
}

.menus {
  height: 100%;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  right: 115px;
  align-items: center;
}
.menus p {
  padding-left: 40px;
}
.menus p:hover {
  color: #00bff2;
  cursor: pointer;
}
.menus img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .Kryg {
    visibility: hidden;
  }

  .masanger {
    visibility: hidden;
  }

  .as {
    font-size: 35px;
  }
}
@media only screen and (max-width: 991px) {
  ul {
    margin-left: -500px;
  }

  .text {
    font-size: 25px;
  }

  .big-text {
    font-size: 18px;
    width: 200px;
    left: 300px;
  }

  .link {
    top: 500px;
    left: 300px;
  }

  .square1 {
    left: 50px;
  }

  .contact {
    left: 160px;
  }

  .small-text1 {
    left: 50px;
  }

  .square2 {
    left: 50px;
  }

  .compare {
    left: 160px;
  }

  .small-text2 {
    left: 50px;
  }
}